
.cartempty {
    width: 60%;
    margin: auto;
    margin-top: 100px
}

.cartempty,
.cartempty i {
    display: block;
    overflow: hidden
}
.cartempty i {
    margin: auto
}
.cartempty .backhome,
.cartempty span {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 10px
}
.cartempty .backhome {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #288ad6;
    margin: 0 10px;
    color: #288ad6
}
.cartempty p {
    display: block;
    overflow: hidden;
    padding: 10px;
    text-align: center
}
.cartempty p a {
    color: #288ad6
}
.footer {
    background: rgb(245, 243, 243);
    width: 1450px;
    text-align: center;
    height: 60px;
    color: black;
    clear: left;
    padding-top: 6px;
    line-height: 30px;
    min-height: 200px;
    margin: auto;
    margin-top: 10px;
}

.footer_heading {
    font-size: 16px;
    text-transform: unset;
}

.grid {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    padding-left: 5px;
    padding-right: 5px;
    width: 24%;
}

.list {
    list-style: none;
    padding-left: 0;
}

.list a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(83, 82, 82);
    padding: 2px 0;
    display: block;
}

.list a:hover {
    color: red;
}


/*------------register---------*/

.register-form {
    position: fixed;
    width: 100vw;
    height: 100vw;
    background-color: rgb(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    z-index: 999;
}

.register-form-content {
    width: 600px;
    height: auto;
    background: #fff;
    margin-left: 30px;
    margin-top: 100px;
    border: 1px solid black;
    /* padding-bottom: 10px; */
    padding-top: 20px;
    border-radius: 5px;
}

.register-form-content form {
    padding: 0 40px;
}

.register-form-content form input {
    height: 45px;
    display: block;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
}

.form-group input {
    width: 520px;
    height: 50px;
    border: 1px solid black;
}

label {
    font-size: 12px;
}

fieldset {
    font-size: 12px;
    width: 520px;
    height: 50px;
    margin-top: 5px;
    background: rgb(241, 240, 240);
    border-radius: 3px;
    border: 1px solid black;
    margin-left: 38px;
}

fieldset input {
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
}

.form-control {
    width: 500px;
    height: 30px;
    margin-top: 5px;
    background: rgb(241, 240, 240);
    border-radius: 3px;
}

.form-control:focus {
    background-color: yellow;
    box-shadow: 0 0 3 px red;
    border: 1px solid black;
}

.dk {
    background: rgb(87, 164, 236);
    margin-top: 12px;
    border: 1px solid black;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-left: 35px;
    margin-bottom: 10px;
}

.dk p {
    padding-top: 2px;
}

.dk p:hover {
    color: red;
}

.register-form-content h2 span {
    display: block;
    position: absolute;
    padding: 0 6px;
    height: 30px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}

.register-form-content h2 {
    font-size: 16px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}

